<h1>Course certificate manager</h1>
<%= link_to 'All courses', '/courses/index', class: 'button' %>

<div>
  <p><strong>This is a dummy application</strong></p>

  <p>You can find the source code for this app
    on <%= link_to 'GitHub.com/MakersSweden', 'https://github.com/MakersSweden/workshop', target: '_blank' %>. Feel free to use it if you
    want but remember it is only a proof of concept and serves as course material for a workshop we are running
    at <%= link_to 'Makers Sweden', 'http://www.makersacademy.se', target: '_blank' %>.</p>

  <p>If you choose to register, create a course, a delivery date and upload a data file with student data, you'll need
    to
    format it like this:</p>

  <div>
    <pre>
      full_name;email
      Thomas Ochman;thomas@random.se
      Gustaf Rudholm;gustaf@random.com
      Bo Mattsson;bo@random.com
    </pre>
  </div>


  <p>Or whatever content you want. ;-)</p>
</div>
